a.navbar-brand{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.6em;
}
.copyright{
    border-top: 1px solid #ddd;
    margin-top: 15px;
}
.copyright p{
    margin-top: 10px; 
    font-size: 11px;
    float: left;
}


.breadcrumb {
  padding: 0px 0px;
  margin-bottom: 0;
  list-style: none;
  background-color: #ffffff;
  border-radius: 4px;
  font-size: 1.05em;
}
.breadcrumb > li {
  display: inline-block;
}
.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #cccccc;
}
.breadcrumb > li i {
  color: #cccccc;
  font-size: 0.8em;
  padding: 5px 5px;
}
.breadcrumb > .active {
  color: #777777;
}